<h1>Listing Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Approve</th>
      <th>Worker</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for st <- @sheets do %>
    <%= render TimesheetWeb.SheetView, "sheet_row.html", Map.put(assigns, :sheet, sheet) %>
<% end %>
  </tbody>
</table>

<span><%= link "New Sheet", to: Routes.sheet_path(@conn, :new) %></span>
