<h1>Listing Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Approve</th>
      <th>Worker</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for st <- @sheets do %>
        <%= render TimesheetWeb.SheetView, "sheet_row.html", Map.put(assigns, :sheet, st) %>
    <% end %>
  </tbody>
</table>

<%= if @current_user.manager_id do %>
  <span><%= link "New Sheet", to: Routes.sheet_path(@conn, :new) %></span>
<% end %>


