<tr>
  <td><%= @sheet.date %></td>
  <td><%= @sheet.approve %></td>
  <td><%= @sheet.worker_id %></td>

  <td>
    <span><%= link "Show", to: Routes.sheet_path(@conn, :show, @sheet) %></span>
    <span><%= link "Edit", to: Routes.sheet_path(@conn, :edit, @sheet) %></span>
    <%= if @current_user.manager_id && !@sheet.approve do %>
  <span><%= link "Approve", to: Routes.sheet_path(@conn, :new) %></span>
<% end %>
  </td>
</tr>